/* Reset and base styles */
html {
  background-color: #2c2c3b;
  scrollbar-color: #9294c4 #282c35;
}

body {
  margin: 0 auto;
  color: #ffff;
  font-family: "nunito", sans-serif;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  max-width: 106.7ch;
  padding: 0;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #b3b4d6;
  margin: 1rem 0;
}

h1 { font-size: 2.5rem; }

p, li {
  color: #ffffff;
  font-size: 20px;
}

ul { color: aliceblue; }

a {
  color: #94a8b3;
  text-decoration: none;
}

a:visited { color: #94a8b3; }

a:hover:not(.blog-post) {
  color: #9fa2a3;
  text-decoration: underline;
}

::selection {
  background-color: #1d212a;
  color: rgb(255, 255, 255);
}

/* Header */
header {
  background-color: #8385b0;
  color: black;
  border-radius: 5px;
}

.hamburger {
  padding: 15px;
  cursor: pointer;
  display: none; /* Hidden by default */
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  background-color: #282c35;
}

/* Desktop Navigation */
@media screen and (min-width: 636px) {
  header {
    text-align: center;
  }
  .nav-links {
    display: block;
    margin-top: 15px;
  }
  .nav-links a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: nunito;
    padding: 15px 20px;
    border-radius: 5px;
    transition: all 0.2s ease-out;
    background: #8385b0;
    color: white;
    margin: 0.1rem;
  }
  .nav-links a:hover,
  .nav-links a.active {
    background: white;
    color: black;
    text-decoration: none;
  }
}

/* Mobile Navigation */
@media screen and (max-width: 635px) {
  body {
    padding: 15px;
    padding-bottom: 2px;
  }

  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .hamburger {
    display: block; /* Shown only on mobile */
  }

  .nav-links {
    display: none; /* Hidden by default on mobile */
    position: absolute;
    top: 70px; /* Position below header */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #8385b0;
    border-radius: 10px;
    padding: 0;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .nav-links.expanded {
    display: flex; /* Shown when hamburger is clicked */
  }

  .nav-links a {
    text-decoration: none;
    font-size: 1.3rem;
    font-family: nunito;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 0;
    transition: all 0.2s ease-out;
    background: #8385b0;
    color: white;
    margin: 0;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #7375a0;
  }

  .nav-links a:last-child {
    border-bottom: none;
  }

  .nav-links a:hover,
  .nav-links a.active {
    background: white;
    color: black;
    text-decoration: none;
  }
}
