---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "coriixyz | about";
const hobbies = [
  "Tinkering with computer hardware & software",
  "Car stuff",
  "Listening to music 24/7",
  "A few video games",
  "Mindlessly watching YouTube videos",
];
---

<BaseLayout pageTitle={pageTitle}>
  <body>
    <h2>Who am I?</h2>
    <p>
      👋 Hey, you can call me Cori! My online alias is <b>coriixyz</b>; however, I run a YouTube channel known as "<u>WinByte</u>". I am 22 years old, and have an Associates of Applied Science (AAS) degree in <b>Information Technology</b>. 
    </p>
    <h2>Hobbies & Things I Enjoy</h2><p></p><ul>
      {hobbies.map((hobbies) => <li class="hobby">{hobbies}</li>)}
    </ul>
    <h2>Contact</h2>
    <p>Feel free to reach out using any of these methods:</p>
    <ul>
      <li>
        Email: 
        <a href="mailto:coriixyz@proton.me">coriixyz@proton.me</a>
      </li>
      <li>
        Discord: <a title="*this link may not work if I am not added as a friend!" href="https://discord.com/users/337795524445077504"
          >winbyte</a
        >
      </li>
    </ul>
  </body>
</BaseLayout>
