---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    📅 {frontmatter.postDate.toLocaleDateString().slice(0, 10)}
  </p>
  {frontmatter.image && <img src={frontmatter.image.url} width="280" alt={frontmatter.image.alt} />}
  <p><em>{frontmatter.description}</em></p>
  <slot />
</BaseLayout>


